/*style sheet */

body{
	
}
.body{
	width:70%;
	margin:0 Auto;
	
	
}
a{
	text-decoration:none;
	color:#fff;
}
a:hover{
	color:#000;
}
.bodycolor{
background-color:powderblue;

}

.mainheader img{
	width:100%;
	margin:2% 0;
	
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	
}

.mainheader nav{
	
	background-color:#333;
	height:40px;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;

	
}

.mainheader nav ul{
list-style:none;
}

.mainheader nav ul li {
	float:left;

}
.mainheader nav ul li a{

	text-decoration:none;
	color:#FFF;
	display:block;
	height:20px;
	padding:10px 20px;
	
}

.mainheader nav  a:hover,
.mainheader nav .active {
	background-color:#666;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}
.container{
	width:70%;
	float:left;

}
article{
	background-color:#999;
	padding:2%;
	margin:2% 0;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}

aside{
	width:24%;
	float:left;
	background-color:#999;
	margin:1.5% 0 0 2%;
	padding:2%;
	
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}
.mainfooter{
	width:100%;
	background-color:#333;
	height:50px;
	float:left;
	width:100%;
	margin:1% 0;
		border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	text-align:center;
	color:white;
}
	
@media only screen and (min-width:150px) and (max-width:600px){
.body{
	width:96%;

	
	
}


.mainheader img{
	width:100%;
	margin:2% 0;
	
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	
}

.mainheader nav{
	
	background-color:#333;
	height:160px;
	


	
}

.mainheader nav ul{
list-style:none;
padding:0px;

}

.mainheader nav ul li {
	float:left;
	width:100%;
	text-align:center;
	

}
.mainheader nav ul li a{

	text-decoration:none;
	color:#FFF;
	display:block;

	
	
}

.mainheader nav  a:hover,
.mainheader nav .active {
	background-color:tan;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}
.container{
	width:100%;
	float:left;

}


aside{
	width:95%;
	float:left;
	background-color:#999;
	margin:1.5% 0 0 2%;
	padding:2%;
	
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}
.mainfooter{
	width:98%;
	background-color:#333;
	height:50px;
	float:left;
	width:100%;
	margin:1% 0;
		border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	text-align:center;
	color:white;
}
}
